@import url("//fonts.googleapis.com/css?family=Lato:400,700,900,400italic");

.grid-block, .main, .post, .comments li, .comment-form {
    background: #fff;
    border-radius: 3px;
    padding:30px;
    margin-bottom: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
body {
    background:url("../../images/body-back.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #666666;
    font-family:arial;
}
.navbar {
    margin-bottom: 10px
}
.navbar .navbar-inner {
    border-radius: 0px 0px 3px 3px;
    padding-left:0;
    background-color: #2C3E50;
    border-color: #202D3B;
}
#spinner {
    height: 300px
}

#iron-router-progress {
    background-color : #3399CC;
    box-shadow       : 0 0 5px #3399CC;
}

.post {
    *zoom: 1;
    -webkit-transition: all 300ms 0ms;
    -webkit-transition-delay: ease-in;
    -moz-transition: all 300ms 0ms ease-in;
    -o-transition: all 300ms 0ms ease-in;
    transition: all 300ms 0ms ease-in;
    position: relative;
    opacity: 1;
}
.post:before, .post:after {
    content:"";
    display: table;
}
.post:after {
    clear: both
}
.post.invisible {
    opacity: 0
}
.post .upvote {
    display: block;
    margin: 7px 12px 0 0;
    float: left;
}
.post .post-content,
.post-content-inner{
    width:100%;
}
.post .post-content h3 {
    margin: 0;
    line-height: 1.4;
    font-size: 18px;
}
.post .post-content h3 a {
    display: inline-block;
    margin-right: 5px;
}
.post .post-content h3 span {
    font-weight: normal;
    font-size: 14px;
    display: inline-block;
    color: #aaaaaa;
}
.post .post-content p {
    margin: 0
}

.post-discription{
    width:70%;
    padding-left:30px;
}

.post .discuss {
    display: block;
    float: right;
    margin-left: 12px;
    margin-top: 7px;
    padding: 6px 12px;
}
.comments {
    list-style-type: none;
    margin: 0;
}
.comments li h4 {
    font-size: 16px;
    margin: 0;
}
.comments li h4 .date {
    font-size: 12px;
    font-weight: normal;
}
.comments li h4 a {
    font-size: 12px
}
.comments li p:last-child {
    margin-bottom: 0
}
.dropdown-menu span {
    display: block;
    padding: 3px 20px;
    clear: both;
    line-height: 20px;
    color: #bbb;
    white-space: nowrap;
}
.load-more {
    display: block;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.05);
    text-align: center;
    height: 60px;
    line-height: 60px;
    margin-bottom: 10px;
}
.load-more:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1);
}

/*---new styles---*/


.logo a{
    background: url("../../images/logo.png") no-repeat scroll 0 0;
    display: block;
    height: 80px;
    width:200px;
    margin:0;
    overflow: hidden;
    position: relative;
    text-indent: -999em;
}

.navbar-inner{
  border:none;
  box-shadow:none;
  background:none;
}

.navbar {
    margin-bottom:0;
    padding-bottom: 8px;
}

.container{
    border: 1px solid #dddddd;
    border-top:3px solid #bcb9b9;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    margin-top:20px;
    padding:0;
    border-radius: 4px 4px 0 0;
}

.post{
  padding:30px 0 0 0;
  margin-bottom:0;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus{
    background:none;
    box-shadow:none;
   
}

.nav-collapse.collapse{
    margin-left: 70px;
    width: 75%;
}

.navbar .nav{
  margin:0 10px 0 0;
}

.navbar .main-menu > li{
  line-height:4.2;
}

.navbar .nav > li > a {
    color: #ffffff;
    margin: 0 6px;
    padding: 10px 20px;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-shadow:none; 
    font-size:15px;
}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
    background-color: none;
    color: #cccccc;
}

.banner{
    <!--- background: url("../../images/banner.jpg") repeat scroll 0 0;
     height:164px;
     opacity: 0.4;   --->
}

.navbar .nav.pull-right{
  margin-top:0;
}


.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    background:#000000;
    color:#ffffff;
}

.post .post-content h3 a {
    color: #25A4D6;
}

.navbar .nav > li#login-dropdown-list a{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    box-shadow: none;
}

/*---submit post---*/

.control-group {
    margin-left: 20px;
    margin-top: 20px;
}

.main label {
    display: block;
    float: left;
    margin-bottom: 5px;
    width: 10%;
}

.main .control-group input,
.main .control-group textarea{
  width:300px;
}

.main .control-group .btn{
      margin-left: 200px;
    padding: 12px 0;
    width: 126px;
}

.main .control-group input:hover,
.main .control-group textarea:hover{
    border-color:#a9a9a9;
    border-width:1px;
}

.control-label span{
      color: #FF0000;
      padding-left: 2px;
}

.donate{
  width:30px;
}

.donate .btn{
    padding: 14px 60px;
    margin:10px 0 0 55px;
    background-color: #3498DB;
    border-color: #3498DB;
}

.donate .btn:hover{
    background-color: #2383C4;
    border-color: #2077B2;
}
.post-bottom{
      background: none repeat scroll 0 0 #F2F2F2;
    border-top: 1px solid #E4E4E4;
    float: left;
    width: 100%;
    margin-top:20px;
}

.navbar .nav li.dropdown > .dropdown-toggle .caret {
    border-bottom-color: #ffffff;
    border-top-color: #ffffff;
    margin-top: 30px;
}

.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 10px 15px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.navbar .nav li.dropdown > a:hover .caret, .navbar .nav li.dropdown > a:focus .caret {
    border-bottom-color: #cccccc;
    border-top-color: #cccccc;
}

.navbar .nav #login-dropdown-list li.dropdown > .dropdown-toggle .caret{
    margin-top:0;
}