<template name="postItem">
	<div class="post">
		<!--<a href="#" class="upvote btn {{upvotedClass}}">⬆</a>-->
		<div class="post-content pull-left">
     <div class="post-content-inner pull-left"> 
         <div class="post-discription pull-left">
			     <h3><a href="{{pathFor 'postPage'}}">{{title}}</a></h3><span>{{shortDescription}}</span>
			

			      <p>	<!--{{pluralize votes "Vote"}},-->  <!--Value for votes comes from the posts var--> <!--Pluralize is a handlebars.jsfnction-->
				    {{positiveRepCount}} vouched for this request.
				    {{negativeRepCount}} flagged this request.
			      </p>

			      <p>	<!--{{pluralize votes "Vote"}},-->  <!--Value for votes comes from the posts variable--> <!--Pluralize is a handlebars.js global function-->
				       submitted by {{author}},
				      <a href="{{pathFor 'postPage'}}">{{commentsCount}} comments</a>
				       {{#if ownPost}}<a href="{{pathFor 'postEdit'}}">Edit</a>{{/if}}
			      </p>
         </div>
         <div class="donate pull-left">
			      <a href="{{pathFor 'postPage'}}" class="btn pull-left btn-primary">Donate</a>
         </div> 
      </div>
      <div class="post-bottom">
          <div class="social-icons">

			      <a href="{{facebookShareLink}}" target="_blank" class="facebook btn-1 pull-left">Facebook</a>
				  <a href="{{twitterShareLink}}" target="_blank" class="twitter btn-1 pull-left">Twitter</a>
			      <a href="{{gplusShareLink}}" target="_blank" class="gplus btn-1 pull-left">Google+</a>
			      <a href="{{linkedinShareLink}}" target="_blank" class="linkedIn btn-1 pull-left">LinkedIn</a>
          </div> 
          <div class="vote">
        		<a href="{{pathFor 'postFlag'}}" class="discuss btn {{negativeRepClass}}">Flag</a>
		        <a href="{{pathFor 'postVouch'}}" class="discuss btn {{positiveRepClass}}">Vouch</a>	
        </div>  
      </div>  

		</div>
	</div>
</template>
