<template name="postItemDetailed">
	<div class="post">
		<!--<a href="#" class="upvote btn {{upvotedClass}}">⬆</a>-->
		<div class="post-content pull-left">
     <div class="post-content-inner pull-left"> 
         <div class="post-discription pull-left">
			     <h3><a href="{{pathFor 'postPage'}}">{{title}}</a></h3>
			      <p>
				    {{positiveRepCount}} vouched for this request.
				    {{negativeRepCount}} flagged this request.
			      </p>
			      <p><span class="submit">	
              submitted by {{author}}, </span>
				      <a href="{{pathFor 'postPage'}}">{{commentsCount}} comments</a>
				       {{#if ownPost}}<a href="{{pathFor 'postEdit'}}">Edit</a>{{/if}}
			      </p>
         </div>
         <div class="donate pull-left">
			      <a href="{{pathFor 'postPage'}}" class="btn pull-left btn-primary">Donate</a>
         </div> 
      </div>

      <div class="post-detail">
      	<table class="pull-left">
      		<tr>
      			<td class="t-1">Description :</td><td class="t-2">{{description}}</td>
      		</tr>
      		<tr>
      			<td class="t-1">Address :</td><td class="t-2">{{address}}</td>
      		</tr>
      		<tr>
      			<td class="t-1">Bank Account :</td><td class="t-2">{{bankAccount}}</td>
      		</tr>
      		<tr>
      			<td class="t-1">Contact No :</td><td class="t-2">{{contactNo}} </td>
      		</tr>
      		<tr>
      			<td class="t-1">URL :</td><td class="t-2">{{url}} </td>
      		</tr>
      	</table>
      	

      </div>


      <div class="post-bottom">
          <div class="social-icons">

			      <a href="{{facebookShareLink}}" target="_blank" class="facebook btn-1 pull-left">Facebook</a>
				  <a href="{{twitterShareLink}}" target="_blank" class="twitter btn-1  pull-left">Twitter</a>
			      <a href="{{gplusShareLink}}" target="_blank" class="gplus btn-1 pull-left">Google+</a>
			      <a href="{{linkedinShareLink}}" target="_blank" class="linkedIn btn-1 pull-left">LinkedIn</a>
          </div> 
          <div class="vote">
        		<a href="{{pathFor 'postFlag'}}" class="discuss flag {{negativeRepClass}}">Flag</a>
		        <a href="{{pathFor 'postVouch'}}" class="discuss vouch {{positiveRepClass}}">Vouch</a>	
        </div>  
      </div>  

		</div>
	</div>
</template>
