<template name="postSubmit">
    <form class="main">
        
        <div class="control-group control-submit">
             <label class="control-label header-text" for="typeOfAid">Type of Aid</label>
            <div class="controls">
                {{>categoryButtonGroup}}
            </div>
        </div>
      
      <div class="control-submit-form">
       <div class="control-submit-form-left pull-left">  
        <div class="control-group">
            <label class="control-label" for="title">Title<span>*</span></label>
            <div class="controls">
                <input name="title" type="text" value="" placeholder="Name your post" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="description">Description<span>*</span></label>
            <div class="controls">
                <textarea name="description" type="text" value="" />
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="address">Address</label>
            <div class="controls">
                <textarea name="address" type="text" value="" />
            </div>
        </div>
        </div>
        <div class="control-submit-form-right">
        <div class="control-group">
            <label class="control-label" for="bankAccount">Bank Account Details</label>
            <div class="controls">
                <textarea name="bankAccount" type="text" value="" placeholder="" />
            </div>
        </div>

         <div class="control-group">
            <label class="control-label" for="contactNo">Contact Number</label>
            <div class="controls">
                <input name="contactNo" type="text" value="" placeholder="" />
            </div>
        </div>
        
        <div class="control-group">
            <label class="control-label" for="url">URL</label>
            <div class="controls">
                <input name="url" type="text" value="" placeholder="Related external links" />
            </div>
        </div>
        </div>
        <div class="control-group control-group-submit">
            <div class="controls">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </div>
      </div>   
   

    </form>
</template>
