<template name="postItem">
	<div class="post">
		<!--<a href="#" class="upvote btn {{upvotedClass}}">⬆</a>-->
		<div class="post-content">
			<h3><a href="{{pathFor 'postPage'}}">{{title}}</a></h3><span>{{description}}</span>
			<p>	<!--{{pluralize votes "Vote"}},-->  <!--Value for votes comes from the posts variable--> <!--Pluralize is a handlebars.js global function-->
				submitted by {{author}},
				<a href="{{pathFor 'postPage'}}">{{commentsCount}} comments</a>
				{{#if ownPost}}<a href="{{pathFor 'postEdit'}}">Edit</a>{{/if}}				
			</p>

			<a href="{{pathFor 'postPage'}}" class="btn pull-left">Donate</a>
			<a href="{{pathFor 'postPage'}}" class="btn pull-left">Discuss</a>
			<a href="{{pathFor 'postPage'}}" class="btn pull-left">Share</a>

		</div>
		<a href="{{pathFor 'postPage'}}" class="discuss btn pull-left">Share</a>
		<a href="{{pathFor 'postPage'}}" class="discuss btn pull-left">Share</a>
	</div>
</template>
